@import "~tailwindcss/tailwind.css";

.characters-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.characters-list li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.character-details {
  padding: 20px;
}